@media screen and (min-width: 768px) and (max-width: 992px) {
  .user_form {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
    #business_heading{
    min-height: 25vh;
    font-size: 2.5rem;
  } 
  .user_form {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 280px) and (max-width: 540px) {
    #business_heading{
    min-height: 15vh;
    font-size: 1.8rem;
  } 
  #business_text{
    font-size: 1.1rem;
  }
  .user_form {
    width: 95vw;
  }
  .form_head2 {
    font-size: 1rem;
  }
  .user_form input {
    padding: 2px 2px 2px 3px;
  }
}
/* 
  @media screen and (max-width: 280px){
  
  }
  
  @media screen and (min-width: 993px) and (max-width: 1500px) {
  }
  @media screen and (max-width: 1083px){
  }  */
